body {
    background-color: #006994;
     margin: 0; /* sets the default margin to 0 so that the hero video can fit end to end */
}

nav {
    display: flex;
    align-items: baseline;
    gap: 35px;
    
}

h1{
    font-family: "arbuckle-bright", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color:white;
    margin-left: 45px;
}

video {
    margin-bottom: 75px;
}

p {
    font-family: "Agbalumo", serif;
    color:white;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
}

a { 
    text-decoration: none;
    color: white;
}

footer { 
    margin-left: 15px;
}

h2{
    font-family: "arbuckle-bright", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    color:white;
    margin-left: 45px;
    text-align: center;
    margin:0px;
}

li{
    font-family: "Agbalumo", serif;
    color:white;
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    display: flex;
    margin-bottom: 5px;    
    text-decoration: underline;
}

li:hover{
    color:#006994;
}

.nav-text{
    font-family: "Agbalumo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

.img-width{
    width:30%;
}

.list-margin{
    margin: 15px;
}

.text-wrapper-rev {
    display: flex;
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;    
    flex-direction:row-reverse;
    gap:70px;
    align-items:center;   
    text-align:right; 
    padding: 25px;
    background-color: #1787B6;
    border-style:none;
    border-radius: 15px;
}

.text-wrapper {
    display: flex;
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;    
    flex-direction:row;
    gap:70px;
    align-items:center;   
    text-align:left;
    padding: 25px;
    background-color: #1787B6;
    border-radius: 20px;
}

.text-center-wrapper{
    display: flex;
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;    
    text-align:center;
    padding: 25px;
    background-color: #1787B6;
    border-radius: 20px;
}

.image-wrapper{
    display: flex;
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;    
    gap:20px;  
    padding: 15px;
    background-color: #1787B6;
    border-radius: 20px;
    border-width: 5px;
    justify-content: space-between;
    align-items: center;
}

.made-by{
    font-family: "rl-aqva", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
}

a:hover{
    color:#63cbf8;
}

.big-text{
    font-family: "arbuckle-bright", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 140px;
    color:white;
    margin: 40px;
    text-align: center;
}

.big-photo{
    display: flex;
    max-width: 1750px;
    margin: auto;
    margin-bottom: 20px;    
    gap:20px;  
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #1787B6;
    border-radius: 20px;
    border-width: 5px;
}

.list-wrapper {
    display: flex;
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;    
    flex-direction:row;
    gap:130px;  
    text-align:left;
    padding: 25px;
    background-color: #1787B6;
    border-radius: 20px;
}

.vid-container{
    max-width: 1650px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 50px;
}

.help-wrapper {
    display: flex;
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;    
    flex-direction:row;
    gap:130px;
    align-items:center;   
    text-align:left;
    padding: 25px;
    background-color: #1787B6;
    border-radius: 20px;
}

.not-so-big-photo{
    display: flex;
    max-width: 1750px;
    margin: auto;
    margin-bottom: 20px;    
    
    gap:20px;  
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #1787B6;
    border-radius: 20px;
    border-width: 5px;
    width:50%
}

.button{
    display: flex;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;     
    justify-content: center;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    color:white;
    background-color: #1787B6;
    text-decoration: underline;
}

.button:hover{
    color:#63cbf8;
}